.editor-view {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  .album-list {
    width: 75%;
    .search-results {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      .album-envelope {
        grid-column: span 1;
      }

      .album {
        .album-wrapper {
          cursor: grab !important;
        }
      }
    }
  }

  .list-names {
    width: 25%;
    margin: 50px 0;
    line-height: 1.2;
    .album {
      padding: 7px 0;
      border: 1px solid transparent;
      cursor: grab;
      border-radius: 5px;
      .remove svg{
  
        fill: $light;
      }
      div {
        &:hover {
          color: $light;
        }
      }

      &:first-child {
        padding-top: 0;
      }
      &.over-album {
        border: 1px solid $lighter;
      }
    }
  }
}

.album-edit {
  .remove {
    display: none;
    cursor: pointer;
  }
  &:hover {
    .remove {
      display: flex;
      align-items: center;
    }
  }
}
