.new-list {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease-in-out 0.5s;
    pointer-events: none;
    user-select: none;
  }
  input:focus + svg {
    left: 0% !important;
    transform: translate(0%, -50%);
    cursor: pointer;
    pointer-events: all;
  }
  input {
    padding: 10px 0px 10px 25px;
  }
}

.chart-input {
  max-width: 350px;
  margin-top: 25px;
  background-color: $background-color !important;
  svg {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(100%, -50%);
    transition: all ease-in-out 0.5s;
    pointer-events: none;
    user-select: none;
    height: 25px;
    width: 25px;
  }
  input:focus{
    background-color: $element !important;
  }
  input:focus + svg {
    right: 0% !important;
    transform: translate(0%, -50%);
    cursor: pointer;
    pointer-events: all;
   
  }

  input {
    font-size: 20px !important;
    padding: 5px 25px 5px 5px;
  }
}

.input-text {
  background-color: $element;
  display: flex;
  align-items: center;
  position: relative;

  input {
    background-color: transparent;
    border: none;
    width: 100%;

    transition: all ease-in-out 0.5s;
    cursor: pointer;
    color: transparent;
    border-radius: 5px;
    font-size: 12px;
    &:focus {
      background-color: $background-color;
      outline: none;
      cursor: text;
      color: $lighter;
    }
  }
}

.button {
  background-color: $element;
  color: $light;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
  &:hover {
    color: $lighter;
  }
}

.editor-button {
  margin-bottom: 50px;
}

.flex-center-vertical {
  display: flex;
  align-items: center;
  &.gap-12 {
    gap: 12px;
  }
}
