.player {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0px auto;
  max-width: 1000px;

  .album-title {
    width: 50%;
    margin-bottom: 10px;
    .spotify-link {
      img {
        path {
          stroke: white;
          fill: white;
        }
        height: 16px;
        width: 16px;
      }
    }
  }
  .player-top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 500px;
    width: 100%;
    .tracks-container {
      height: 100%;
      width: 500px;
      position: relative;
      overflow: auto;
    }

    .tracks {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0px 10px 0px 30px;
      max-width: 100%;
    }

    .track-wrapper {
      cursor: pointer;
      position: relative;

      .track {
        padding: 5px 0;

        p {
          color: $light;
        }
        span {
          display: none;
        }
      }

      &.disabled {
        p {
          color: $light;
        }

        .track {
          span {
            display: inline-block;
            background: $light;
            color: $element;
            font-size: 10px;
            padding: 1px 4px;
            margin-left: 10px;
            white-space: nowrap;
          }
        }
      }
      &.active:not(.disabled) {
        .track {
          p {
            color: $lighter !important;
          }
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -20px;
          top: 50%;
          transform: translate(0, -50%);
          width: 11px;
          height: 11px;
          clip-path: polygon(
            100% 49%,
            100% 49%,
            46% 77%,
            46% 26%,
            46% 25%,
            46% 77%,
            0 100%,
            0 0
          );
          background: $lighter;
        }
      }
    }

    .img-wrapper {
      height: 100%;
      aspect-ratio: 1/1;
      position: relative;

      > img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .player-bottom {
    width: 500px;
    margin-top: 10px;

    .track-name {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .p-context {
        position: relative;
        cursor: pointer;
      }
    }
  }
  .controls {
    width: 100%;
    .timeline {
      width: 100%;
      display: flex;

      .input-range {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .input-range {
        flex: 0;
        min-width: 100px;
        input {
          max-width: 100%;
        }
      }

      .buttons {
        display: flex;
        gap: 10px;
        flex: 1;
        max-width: 125px;
        justify-content: space-between;
        margin: 15px 0;
      }

      .nav-btn {
        border-radius: 50%;
        background: $background-color;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
          fill: $light;
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}
#player {
  max-height: 0;
  transition: max-height linear 0.3s;
  &.open {
    height: 100vh;
    max-height: 100vh;
    margin: 0px 0;
    display: flex;
    align-items: center;
  }
  @media (max-width: 1100px) {
    max-height: unset !important;
    height: auto !important;
    margin-top: 50px !important;
    .album-title {
      width: 100%;
      height: auto;
    }
    .player-bottom {
      width: 100%;
      height: auto;
    }
    .player-top {
      flex-direction: column;
      height: auto !important;

      .img-wrapper {
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: auto;
        }
      }
      .tracks-container {
        width: 100% !important;
        height: auto;
        max-height: 300px;
        margin: 25px 0;
        .tracks {
          position: static;
        }
      }
    }
  }
}
