.search-results {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 50px auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;

  .load-more {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    .button {
      background-color: $element;
      color: $light;
      display: inline-block;
      padding: 10px;
      cursor: pointer;
      border-radius: 5px;
      transition: all ease-in-out 0.2s;
      &:hover {
        color: $lighter;
      }
    }
  }
  .no-results {
    animation: fadeIn 1s;
    text-align: center;
    grid-column: 1/-1;
    p {
      color: $light;
      font-size: 30px;
    }
  }

  .album-wrapper {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    cursor: pointer;
    .album-info-modal {
      position: absolute;
      border-radius: 5px;
      padding: 10px;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: #1b252fdd;
      z-index: 2;
      height: 101%;
      width: 101%;
      transition: all linear 0.3s;
      backdrop-filter: blur(5px);
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 3px;
      p {
        color: #f2f2f3;
      }
      .name {
        font-size: 20px;
        margin-bottom: 3px;
      }
    }
    &:hover {
      .album-info-modal {
        opacity: 1;
      }
    }
  }
  .album {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    grid-column: span 1;
    z-index: 1;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 1400px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
