.search-box {
  .search-box-wrapper {
    position: relative;
    display: inline-block;

    input {
      background-color: transparent;
      height: 45px;
      width: 350px;
      max-width: 100%;
      border: none;
      border-radius: 30px;
      padding: 0 40px;
      font-size: 18px;
      color: $light;
      transition: all ease-in-out 0.5s;
      &:focus {
        outline: none;
        background-color: $element;
      }
    }

    span {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 10px;

      img {
        stroke: white;
        fill: white;
        width: 20px;
      }
    }
  }

  @media (max-width: 500px) {
    .search-box-wrapper {
      input {
        width: 100%;
      }
    }
  }
}
