.select-component {
  cursor: pointer;
  position: relative;

  .default {
    display: flex;
  }
  &.open {
    svg {
      transform: rotate(180deg);
    }
  }

  .default-wrapper {
    text-transform: capitalize;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .default {
    padding-bottom: 16px;
  }
  .data-wrapper {
    .options {
      background-color: $element;
      position: absolute;
      bottom: 0;
      left: 100%;
      transform: translate(-100%, 100%);
      z-index: 99;
      width: 200px;
      text-transform: capitalize;
    }
  }
  .options {
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    text-align: center;
  }
}

.select-title {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  font-size: 25px;
  font-weight: 400;
  width: 100%;
  .segment-mode {
    span {
      cursor: pointer;
    }

    @media (max-width: 500px) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  .segment-select {
    display: flex;
    @media (max-width: 500px) {
      flex-direction: column;
      gap: 16px;
      width: 100%;
      align-items: center;
    }
  }
  svg {
    display: block !important;
  }
  .select-component {
    padding: 0 12px;
    display: flex;
    align-items: center;
    .option {
      font-size: 18px;
      padding: 5px 0;
    }
    .opations {
      padding: 5px 12px;
    }
  }
}
